.imgDefaultAvatar {
    border-radius: 50%;
    background-color: black;
}

.imgAvatar {
    border-radius: 50%;
}

.textAvatar { 
   border-radius: 50%;
    display: flex;
    color: white;
    font-weight: bold;
}

.letterAvatar {
    margin: auto; 
    text-align: center;
    vertical-align: bottom;
}