.icon{
    border-left: solid 7px transparent;
    border-right: solid 7px transparent; 
    float: right;
    margin-right: 10px;
    margin-top: 5%;
    width: 0;
}

.down-arrow.icon {
    border-top: solid 7px #333333;
}

.up-arrow.icon {
    border-bottom: solid 7px #333333;
}

.select{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    position: relative;
    font-size: 16px;
}

.label-container{
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
    white-space: nowrap;
    border: 1px solid ;
    padding: 0px 12px;
    border-radius: 4px;
    cursor: pointer;
    padding-bottom: 5px;
}

.label-container:hover {
    border:1.5px solid;
    cursor: pointer;
}

.label{
    width: 70%;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}


.legend{
    font-size: 8px;
    float: left;
}

.options-menu{
    margin-top : 0px;
    background-color: #333333;
    border-radius: 4px;
}
