div {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

span {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.buttonItem:hover {
    background-color: lightgray;
}

hr {
    width: 100px;

}
