.main-container{
    /* background-color: rgb(182, 155, 123); */
    height: calc(100vh - 80px);
    padding-top: 30px;
}

.filter{
    /* background-color: rgb(116, 99, 78); */
    margin-top: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.filter{
    background-color: #D9D9D9;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    margin: auto;
}

.search-bar{
    /* background-color: rgb(119, 74, 19); */
    margin-top: 20px;
    height: 40px;
    margin-left: 20px;
}

.fa-search {
	font-size: 1.5em;
}

input#search {
    border-top: none;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    width: 20em;
	height: 2em;
    padding-left: 0.5em;
    margin-left: 0.3em;
    background: none;
    transition: all ease-in-out 0.2s;
	font-size: 1.05em;
}

input#search:focus {
    outline: none;
    border-bottom: 3px solid rgba(84, 191, 255, 0.8);
}

.container.mapOuListe{
    /* background-color: rgb(218, 204, 188); */
    margin-top: 20px;
    height: 60vh;
    overflow: scroll;
}

.filtre-map-liste{
    background-color: rgb(116, 99, 78);
    margin-top: 20px;
    height: 40px;
}

