body{
  background-color: white;
}

.loader{
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.circular{
  height: 100px;
  position: relative;
  width: 100px;
  animation: rotate 2s linear infinite;
}

.circular-no_rotate {
  height: 100px;
  position: relative;
  width: 100px;
  transform: rotate(270deg);
}

.dash {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation:
   dash-varient 3s ease-in-out infinite;
  stroke-linecap: round;
}


.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation:
   dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}


@keyframes dash-varient{
  0%{
   stroke-dasharray: 1,200;
  }
  25%{
   stroke-dasharray: 50,200;
  }
  50%{
   stroke-dasharray: 89,200;
  }
  75%{
   stroke-dasharray: 120,200;
  }
  80%{
   stroke-dasharray: 150,200;
  }
  100%{
   stroke-dasharray: 0,200;
  }
 }

@keyframes rotate{
 100%{
  transform: rotate(360deg);
 }
}
@keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124;
 }
}

.test {
  position: absolute;
  height: auto;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  font-size: 12px;
}

